
body{
    margin: 0dvh;
    height: 100%;
    overflow: hidden;
    
}
#myGrid {
    display: grid;
    grid-template-columns: repeat(42, 5dvh);
    grid-template-rows: repeat(20, 5dvh);
    
}
#dotGrid {
    display: grid;
    grid-template-columns: repeat(42, 5dvh);
    grid-template-rows: repeat(20, 5dvh);
    position: relative;
    bottom: 100dvh;
    z-index: -1;
}

#myDot{
    grid-area: unset;
    height: 5dvh;
    width: 5dvw;
    cursor:crosshair;
    
    
}

#place1{
height: 100dvh;
width: 100dvw;
position: absolute;
z-index: -1;
}
#btn{
    position: absolute;
}

.red {
    background-color: #BA0C2F;
    background-color: #00ff0d;
    background-color: #4400ff;

}

.blue {
    background-color: #00205B;
}
.green {
    background-color: #085b00;
}